*,
*::before,
*::after {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 20px;
}


.control__list,
.level__list {
  width: 30%;
  /*min-width: 10rem;*/
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  list-style: none;
  margin: 20px 0;
}


.control__button,
.level__button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid dimgray;
  border-radius: 10px;
}


.control__button:not([disabled]):hover:not(.key--active),
.level__button:not([disabled]):hover:not(.key--active) {
  background-color: #bbb;
  cursor: pointer;
}

.virtual-keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  max-width: 650px;
  height: 200px;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.key {
  display: flex;
  width: 3.3rem;
  height: 3.3rem;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.key--active:hover {
  background-color: rgba(225, 0, 0, 0.5);
  cursor: not-allowed;
}

.key:not(.key--active):hover {
  background-color: #bbb;
}



.key--active {
  background-color: rgba(225, 0, 0, 0.5);
}


.display-none {
  display: none;
}

.display {
  display: flex;
  text-align: center;
  width: 100%;
  height: 250px;
  font-size: 42px;
  border-radius: 15px;
  margin: 0 1rem;
  background-color: rgba(50, 180, 225, 0.2);
}

:disabled {
  cursor: not-allowed !important;
}


.main {
  width: 80vw;
  max-width: 1000px;
  display: flex;
  margin: 2rem 0 0 0;
}


.start-button {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 1rem 0;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #696969;
  border-radius: 10px;
}

.start-button:not(.hidden):hover{
  background-color: #bbb;
  cursor: pointer;
}

.hidden {
  color: rgba(0, 0, 0, 0.0);
  background-color: rgba(0, 0, 0, 0.0);
  border: rgba(0, 0, 0, 0.0);
  cursor: default;
}


@media (min-width: 360px) and (max-width: 767px) {

  .main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0 0;
  }

  .control__list,
  .level__list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 5px;
  }
  .control__button,
  .level__button {
    width: 100%;
  }

}

@media (min-width: 360px) and (max-width: 1090px) {

}