body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 20px;
}


.control__list {
  display: flex;
  list-style: none;
  margin: 20px 0;
}

.level__list {
  display: flex;
  list-style: none;
  margin: 20px 0;
}

.control__item {

}

.control__button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 16px;
}

.level__button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 16px;
}


.control__button:hover {
  cursor: pointer;
}

.virtual-keyboard {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.key {
  display: grid;
  justify-self: center;
  padding: 20px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.key:hover {
  background-color: #bbb;
}

.key--active {
  background-color: red;
}

.disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.display-none {
  display: none;
}

.display {
  display: flex;
  text-align: center;
  width: 600px;
  height: 200px;
  font-size: 32px;
  border-radius: 15px;
}